<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Profile</title>
    <!-- BOOTSTRAP STYLE SHEET -->
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
     <link rel="stylesheet" href="/static/trialtable.css">

    <style type="text/css">
        .btn-submit {
          margin-top: 10px;
          padding-top: 5px;
          background-color: #ebd9e5;
          color:black;
          opacity: 0.6;
        }

        .btn-delete {
          padding-top: 5px;
          background-color: #ebd9e5;
          color:black;
          opacity: 0.6;
        }
        .btn-submit:hover {
          opacity: 1;
          text-decoration: none;
        }
        .navbar-brand:hover{
          font-weight: bold;
        }
        .navbar-default {
          background-color: #dbedff;
        }
        .alert-info{
          background-color: #ebd9e5;
          opacity: 0.4;
        }

        .panel-title{
          background-color: none;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/profile">STUDY UP</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                <li><a href="/profile">PROFILE</a></li>
                  <li><a href="/course">FILES</a></li>
                    <li><a href="/signout">SIGN OUT</a></li>
                    
                </ul>
            </div>

        </div>
    </div>
    <!-- NAVBAR CODE END -->


    <div class="container">
      <section style="padding-bottom: 50px; padding-top: 25px;">
        <div class="row">
          <div class="col-md-3 profile-pic">

            {% if user.avatar %}
            <img src= "{{ user.avatar }}" class="img-rounded img-responsive" alt="user avatar" width="300px" height="auto"/>
            {% else %}
            <img src= "http://www.cdn.innesvienna.net//Content/user-default.png" class="img-rounded img-responsive" alt="user avatar"/>
            {% endif %}

            <div class="edit"><a data-target="#uploadPhoto" data-toggle="modal" class="" id="changeProfPic" href="#uploadPhoto"><i class="fa fa-pencil fa-lg"></i>Edit</a></div>
          </div>

          <div class="col-md-8">
            <div class="alert alert-info">
              {% if user.name %}
                 <h2>Hello, {{ user.name }}! </h2>
              {% else %}
                 <h2>Hello!</h2>
              {% endif %}
             
            </div>

          </div>
          <div class="col-md-8">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"  aria-controls="collapseOne" aria-expanded="false">
                      Upload Files
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body form-group">
                    <!--transfer -->
                    <form action="/uploadFile" method="post" enctype="multipart/form-data">

                      <div>
                        <label for="course_number">Course Code</label>
                          <select class="form-control" id="course_number" name="course_code">
                            <option value ="BROADCAST SPEECH AND PERFORMANCE">BROADCAST SPEECH AND PERFORMANCE</option>
                            <option value ="BIOLOGY">BIOLOGY</option>
                            <option value ="BUSINESS MANAGEMENT">BUSINESS MANAGEMENT</option>
                            <option value ="CEBUANO">CEBUANO</option>
                            <option value ="CHEMISTRY">CHEMISTRY</option>
                            <option value ="COMPUTER SCIENCE">COMPUTER SCIENCE</option>
                            <option value ="COMMUNICATION">COMMUNICATION</option>
                            <option value ="DESIGN">DESIGN</option>
                            <option value ="DEVT COMMUNICATION">DEVT COMMUNICATION</option>
                            <option value ="ECONOMICS">ECONOMICS</option>
                            <option value ="FINE ARTS">FINE ARTS</option>
                            <option value ="GEOGRAPHY">GEOGRAPHY</option>
                            <option value ="GEOLOGY">GEOLOGY</option>
                            <option value ="HISTORY">HISTORY</option>
                            <option value ="HUMANITIES">HUMANITIES</option>
                            <option value ="NATURAL SCIENCE">NATURAL SCIENCE</option>
                            <option value ="JAPANESE">JAPANESE</option>
                            <option value ="JOURNALISM">JOURNALISM</option>
                            <option value ="LITERATURE">LITERATURE</option>
                            <option value ="MATHEMATICS">MATHEMATICS</option>
                            <option value ="MANAGEMENT">MANAGEMENT</option>
                            <option value ="NSTP CWTS">NSTP CWTS</option>
                            <option value ="PHYSICAL EDUCATION">PHYSICAL EDUCATION</option>
                            <option value ="PHILOSOPHY">PHILOSOPHY</option>
                            <option value ="PHYSICS">PHYSICS</option>
                            <option value ="PI">PI</option>
                            <option value ="POLITICAL SCIENCE">POLITICAL SCIENCE</option>
                            <option value ="PSYCHOLOGY">PSYCHOLOGY</option>
                            <option value ="SFA">SFA</option>
                            <option value ="SOCIAL SCIENCE">SOCIAL SCIENCE</option>
                            <option value ="SOCIOLOGY">SOCIOLOGY</option>
                            <option value ="STATISTICS">STATISTICS</option>
                            <option value ="SCIENCE, TECHNOLOGY AND SOCIETY">SCIENCE, TECHNOLOGY AND SOCIETY</option>
                            <option value ="TFA">TFA</option>
                            <option value ="THEATER">THEATER</option>
                            <option value ="VISUAL COMMUNICATION">VISUAL COMMUNICATION</option>
                            <option value ="ZOOLOGY">ZOOLOGY</option>
                          </select>
                      </div>

                      <br />

                      <div>
                        <label for="course_number">Course Number</label>
                        <input type="number" name="course_number" id="course_number" class="form-control">
                      </div>

                      <br />

                      <div>
                        <label for="description">Description</label>
                        <input type="text" name="description" id="description" class="form-control">
                      </div>

                      <br />

                      <div>
                        <input type="hidden" name="name" id="name" class="form-control" value="name">
                      </div>

                      <br />

                      <div>
                        <label for="file">File</label>
                        <input type="file" name="file" id="file" class="form-control">
                      </div>

                      <br />

                     <button class="btn btn-submit">Upload</button>

                    </form>
                  </div>
                </div>
              </div>


              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      My Uploads
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body form-group">
                  


                    <div class="row">
                        <table data-toggle="table" data-sort-name="date" data-sort-order="desc" class = "table">
                        <thead>
                          <tr>
                            <th data-field="subject" data-sortable="true"> Subject </th>
                            <th data-field="description" data-sortable="true"> Description </th>
                            <th data-field="file" data-sortable="true"> File </th>
                            <th data-field="file" data-sortable="true"></th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for file in files %}
                            <tr>
                              <td>{{ file.course_num }}</td>
                              <td>{{ file.description }}</td>
                              <td><a href="{{file.f_name}}">file</a></td>
                              <td><form action="/delete" method="post"><input type="hidden" name="id" value="{{file.id}}"><button class="btn btn-delete">Delete</button></form></td>
                            <tr />
                            {% endfor %}

                        </tbody>
                        </table>
      
                    </div>
  
                  </div>
                </div>
              </div>


    <!-- Modal -->
  <div id="uploadPhoto" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Please choose a new profile photo</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
              <form action="/upload-avatar" method = "post" enctype="multipart/form-data">
                <div>
                  <label for="recipient">Photo</label>
                  <input type="file" name="avatar" id="avatar" class="form-control">

                  <button class="btn btn-submit">Upload</button>
                </div>
             </form> 
          </div>
         
        </div>
      </div>

    </div>
  </div>

    <!-- REQUIRED SCRIPTS FILES -->
    <!-- CORE JQUERY FILE -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- REQUIRED BOOTSTRAP SCRIPTS -->
    <script src="/static/bootstrap.js"></script>
</body>

</html>
